My first notebook in GCP

In [2]:
!pip install plotly

Collecting plotly
  Downloading plotly-5.9.0-py2.py3-none-any.whl (15.2 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 15.2/15.2 MB 35.6 MB/s eta 0:00:0000:0100:01
Requirement already satisfied: tenacity>=6.2.0 in /opt/conda/lib/python3.7/site-packages (from plotly) (8.0.1)
Installing collected packages: plotly
Successfully installed plotly-5.9.0

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import plotly.express as px
from google.cloud import bigquery

In [5]:
bq = bigquery.Client();

sql = """
select kpi_nv, missing_date
from (
  select *,
    lag(time) over(partition by kpi_nv order by time) prev_date
  from `opl-pnm-loc.pnm_kpis.KPI_NVE` t
  where time >= '2022-05-02 00:00:00' and time <= '2022-05-02 01:00:59'
  order by time
),
unnest(generate_timestamp_array(timestamp_add(prev_date, interval 1 minute), timestamp_sub(time, interval 1 minute), interval 1 minute)) missing_date 
where timestamp_diff(time, prev_date, minute) > 1 and time >= '2022-05-02 00:00:00' and time <= '2022-05-02 01:00:59'
order by time
limit 2000
"""

In [6]:
%%bigquery 
SELECT EXTRACT(HOUR FROM time) AS t1, kpi_nv as nv, kpi_ne as ne, (kpi_ne/kpi_nv)*100 as ratio 
FROM `opl-pnm-loc.pnm_kpis.KPI_NVE`
where time >= '2022-04-30 00:00:00 UTC' and time <= '2022-04-30 23:59:59 UTC'
order by t1

Query complete after 0.01s: 100%|██████████| 1/1 [00:00<00:00, 979.06query/s]
Downloading: 100%|██████████| 1440/1440 [00:00<00:00, 1942.33rows/s]

      t1    nv  ne     ratio
0      0  1027  14  1.363194
1      0   785   8  1.019108
2      0   787   7  0.889454
3      0  1046  12  1.147228
4      0   792  10  1.262626
...   ..   ...  ..       ...
1435  23  1516  24  1.583113
1436  23  1261  15  1.189532
1437  23  1780  25  1.404494
1438  23  1529  27  1.765860
1439  23  1787  19  1.063234

[1440 rows x 4 columns]